<!DOCTYPE html>
<html>
<head>
    <title>Emotion Speech Recognition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="text-center">Emotion Speech Recognition</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control-file" name="file" accept=".wav">
        </div>
        <button type="submit" class="btn btn-primary">Recognize Emotion</button>
    </form>
</body>
</html>

